.encabezado {
    background-color: #3d5a80;
    margin:0%;
    border-bottom: 2px solid #293241;
}
.marca{
    margin-left: 20px;
}
.nav-item a {
    color: #FFF;
}

.nav-item a:hover {
    font-weight: 600;
    color: #ee6c4d;
}

.listaIMG {
    margin: 0%;
    width: 100%;
    height: 80vh;
    background-color: #1e2c40;

}
.mb-4 {
    margin: 0%;
}
.control:hover {
    background: #64646480;
    border: 2px solid #646464;
}

.carousel-item img {
    filter: brightness(50%);

}
.carousel-item {
    object-fit: cover;
    height: 80vh;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-fade .carousel-item {
    transition: opacity 1s linear;
}

.d-md-block h5, p {
    color:white;
}