* {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    height: 200vh;

}
.texto {
    width: min-content;
    height: min-content;
}

li {
    background-color: blueviolet;
}

.columna_informacion_rapida {
    width: 35%;
    background-color: aqua;
}
.info {
    background-color: blue;
    height: 100vh;
}
.foto_caja {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 80%;
    height: 80%;
    z-index: 1;
}

.nombre_apellidos {
    position: absolute;
    height: 40vh;
    right: 0%;
    left: 0%;
    background-color: antiquewhite;
    display: flex;
    align-items: flex-end;
    justify-items: center;
}

.nombres_caja {
    width: 100%;
    padding: 10vh;
    padding-left: 30%;
    font-size: 5vh;
    box-sizing: border-box;
}

.info_basica {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: #FFF;
}

.info_basica p {
    margin-left: 10px;
}

.mas_info {
    height: 100vh;
    color: #000;
    justify-content: center;
    align-items: center;
}